@import '../vars.scss';

.nav {
  border-bottom: 1px solid $border;
  background: $background;
  padding: 0 2rem;
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

.logoContain {
  display: block;
  position: relative;
  margin: 1rem 0;
  height: 50px;
  width: 50px;
}

.navList {
    list-style: none;

  a {
    padding: 2rem 0;
    display: block;
    font-weight: 600;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.activeLink {
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
  &::before {
    display: block;
    content: '';
    height: 1px;
    background: $border;
    width: 50%;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}

.hamburgerMenu {
  display: block;
  position: absolute;
  top: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.navDesktop {
  display: none;
}

.icon {
  transform: scale(1.8);
}

@media screen and (min-width: $size-desktop) {
  .nav {
    display: block;
    border-right: 1px solid $border;
    border-bottom: none;
    z-index: 3;
    height: 100vh;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: calc(100% - 2rem);
      background: $border;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .navList {
    a {
      text-align: left;
      padding: 2rem 0;
    }
  }

  .activeLink {
    &::before {
      content: '';
      bottom: 2.4rem;
      width: 120%;
      left: -2rem;
      transform: translateX(0);
    }
  }
  

  .hamburgerMenu {
    display: none;
  }

  .navDesktop {
    display: block;
  }

  .logoContain {
    margin: 2rem 0;
    display: block;
    height: 150px;
    position: relative;
    width: 150px;
  }
}
