
$size-desktop: 1200px;
$size-tablet: 768px;

$white: #ffffff;
$lightGray: #D9D9D9;
$darkGray: #6D6D6D;
$black: #000000;

$background: $white;
$buttonBackground: $black;
$buttonText: $white;
$border: #D9D9D9;
$text: $black;
$iconBg: $darkGray;